*{
    box-sizing:border-box;
}
body{
    margin: 0;
    overflow: hidden;
}

.video-container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}
video{
    height: 100%;
    width: 100%;
}
.record,.capture{
    position: fixed;
    z-index: 3;
    right: 2rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 5px solid white;
    background-color: black;

}
.record{
    top: 40vh;
}
.capture{
    top:50vh;
}

.record div,.capture div{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    margin: auto;
}
.record div{
    background: red;
}
.capture div{
    background: white;
}
.capture-animation{
    animation: inOut .5s;
}
.record-animation{
    animation: inOut 1s infinite;
}

@keyframes inOut {
    0%{
        transform :scale(1);
    }
    50%{
        transform :scale(1.2);
        }
    100%{
        transform :scale(1);
        }
}
.filter-container{
    z-index: 3;
    height: 25rem;
    width: 5rem;
    border: 2px solid white;
    position: fixed;
    left: 2rem;
    top: calc((100vh -25rem)/3);
   
}
.filter{
    border: 2px solid white;
    width: 100%;
    height: calc(25rem/6);
    background: url("download.jfif");
    background-size: cover;
    background-blend-mode: soft-light;
}

.zoom-in-out-container{
    z-index: 3;
    height: 10rem;
    width: 5rem;
    position: fixed;
    right: 2rem;
    top: 8rem;
}
.zoom-in-out-container div{
    width: 100%;
    height: 50%;
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
    text-align:center ;
    background-color: rgb(100, 100, 100);
}
.filter-div {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
  }
  
  #gallery {
    position: fixed;
    z-index: 3;
    right: 2rem;
    height: 5rem;
    width: 5rem;
    bottom: 8rem;
  }
